

  .value-props-container {
    background-color: #078d89;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
  }

  .value-props-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .value-props-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    text-align: center;
  }

  .icon-wrapper {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    display: flex; /* Make it a flex container to center the icon */
    justify-content: center;
    align-items: center;
  }

  /* Style for Ant Design icons */
  .ant-icon {
    font-size: 50px; /* Adjust the icon size */
    color: #ffffff; /* Golden color */
  }

  .item-text {
    font-size: 1rem;
    font-weight: 500;
    color: #faf8f8;
  }

  @media (max-width: 768px) {
    .value-props-list {
      gap: 20px;
    }
  }

  @media (max-width: 480px) {
    .value-props-list {
      flex-direction: column;
      align-items: center;
    }
  }