.value-props-container {
  background-color: #000000;
  color: #078d89;
  padding: 18px 20px;
  text-align: center;
}

.value-props-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.value-props-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  text-align: center;
  transition: transform 0.3s;
}

.value-props-item:hover {
  transform: translateY(-5px);
}

.icon-wrapper {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-text {
  font-size: 1rem;
  font-weight: 500;
  color: #faf8f8;
}

/* ------------------- MOBILE RESPONSIVE ------------------- */
@media (max-width: 768px) {
  .value-props-list {
    gap: 25px;
  }

  .value-props-item {
    width: 140px;
  }

  .icon-wrapper {
    width: 60px;
    height: 60px;
  }

  .item-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .value-props-list {
    flex-direction: row;flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
  }

  .value-props-item {
    width: 100%;
    max-width: 300px;
    flex-direction: column; /* icon left, text right */
    text-align: left;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
  }

  .value-props-item:hover {
    transform: translateY(-2px);
  }

  .icon-wrapper {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .icon-img {
    width: 100%;
    height: 100%;
  }

  .item-text {
    text-align: center;
    font-size: 0.88rem;
    font-weight: 500;
    color: #fff;
  }
}
